<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- permisos -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RutaExperienciaUC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.sedes.experiencia.RutaExperiencia"
            android:exported="false" >

        </activity>

        <activity
            android:name=".ui.sedes.carreras.rutaExperiencia.experiencia.DetalleExperienciaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.sedes.carreras.rutaExperiencia.experiencia.FullScreenActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".ui.sedes.carreras.rutaExperiencia.experiencia.ListExperienciasActivity"
            android:exported="false" />

        <activity
            android:name=".ui.solicitarInformacion.PopupSolicitarInfo"
            android:exported="false"
            android:theme="@style/AppTheme.TemaPopup" />

        <activity
            android:name=".ui.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>